<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.name %>!</p>
    <p>
    Ini adalah password baru Anda, Ingat-ingat dan jangan sampai lupa lagi ya...<br>
    --------------------------
    </p>
    <p>Password Anda: <%= @new_password %></p>
    <br>
    ----------
    </p>
    <p>
      Terima Kasih dan Selamat beraktifitas.
      Semoga Anda senantiasa sehat dan diberikan kemurahan rejeki, Aamiin..

      Salam, <br />
      Pengurus
    </p>
  </body>
</html>
