<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Buat Debt Baru</h4>
        <p class="card-description"> Isi form di bawah ini untuk membuat pinjaman/bayar baru. </p>
        <%= render 'form', debt: @debt %>
      </div>
    </div>
  </div>
</div>

