<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Buat Cash Flow Baru</h4>
        <p class="card-description"> Isi form di bawah ini. </p>
        <%= render 'form', cash_flow: @cash_flow %>
      </div>
    </div>
  </div>
</div>

