<li class="page-item">
  <%= link_to_unless current_page.last?, "<i class=\"icon-arrow-right\"></i>".html_safe, url, rel: 'next', remote: remote, class: 'page-link'+ "#{remote ? ' ajax-request': ''}" %>
</li>
