<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit Template Transaksi</h4>
        <p class="card-description"> Isi form di bawah ini untuk mengubah template transaksi baru. </p>
        <%= render 'form', template_transaction: @template_transaction %>
      </div>
    </div>
  </div>
</div>

