<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Buat Iuran Baru</h4>
        <p class="card-description"> Isi form di bawah ini. </p>
        <%= render 'form', user_contribution: @user_contribution %>
      </div>
    </div>
  </div>
</div>
