<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PuriAyana App!</title>
  <%= csrf_meta_tags %>
  <style>
      .pagebreak {
          page-break-inside: avoid !important;
          margin: 4px 0 4px 0;  
      }
      
      thead, tfoot { display: table-row-group } 
  </style>
  
</head>
<body>
<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <%#= render partial: 'layouts/navbar' %>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <%#= render partial: 'layouts/sidebar' %>
    <!-- partial -->
    <div class="main-panel pagebreak" style="width:100%">
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 PAD2 Solution</a>. All rights reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="icon-heart text-danger"></i></span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
</body>
</html>